// colors
$primary: #3856dd;
$main: #06092A;
$black: #000;
$white: #fff;
$gray: #4e4e4e;
// fonts
$mainFont: "Inter", sans-serif;
$sfDisplay: "SF Pro Display", sans-serif;
$urbanist: "Urbanist", sans-serif;
